<hr/>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'delete', [comment.article, comment],
                      method: :delete,
                      data: { confirm: 'Are you shure?' }%>
  <%= link_to 'edit', edit_article_comment_path(comment.article, comment) %>
</p>
<hr/>